.chooseSubject{
    background-color: #487eb0;
    color: white;
    border-radius: 5px;
}
body{
    background-color: #f5f6fa;
}

::ng-deep .mat-select-panel {
background-color: #e4e5e6;
}

::ng-deep .mat-option {
background-color: #f3f3f3;
color: #000;
font-size: 16px;
}

::ng-deep .mat-option:hover {
background-color: #007bff; 
color: #fff;              
}
.area{
    margin: 10px;
}
.blocks{
    min-height: 80vh;
    display: flex;
    min-width: 96vw;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

td {
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    position: relative; /* Allows positioning of pseudo-element */
  }

  td:hover{
    background-color: rgba(238, 255, 0, 0.2);
  }
  
  td::before {
    content: attr(data-label); /* Use the data-label attribute as content */
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.2); /* Light color for unobtrusive background text */
    pointer-events: none; /* Prevents the pseudo-element from interfering with interactions */
    z-index: 1; /* Keeps it below actual content */
  }
  
  .cell {
    z-index: 2; /* Ensure the content inside the cell is above the pseudo-element */
  }
  
  .itemEmoji {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Move the item back by half its width and height */
    font-size: 24px; /* Adjust font size as needed */
    margin: 0;
    padding: 0;
    z-index: 2; /* Ensure emoji is above any pseudo-element */
  }

  .startButton{
    background-color: white;
    border: 0px;
    border-radius: 5px;
    width: 100%;
    color: #487eb0;
    height: 2rem;
    font-weight: 300
  }